<h1>Listing users</h1>

<script type="text/x-handlebars" id="application">
  <h1>Ember.js in Action Blog</h1>
  <div class="headerLinks">
      {{#linkTo "users"}}Home{{/linkTo}}<span class="middot">&middot;</span>
  </div>

  {{outlet}}
</script>
